thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    direction: rtl;
    text-align: right !important
}

h2,
.h2 {
    font-size: 1.5rem;
}

.ltr-direction {
    direction: ltr !important;
}

.rtl-direction {
    direction: rtl !important;
}

.text-left {
    text-align: left !important;
}

.datatable-selector {
    direction: ltr !important;
}

.pc-sidebar .navbar-content {
    height: calc(100vh - 100px) !important;
}

body {
    font-family: "Cairo" !important;
    /* font-size: 22px !important; */
}

.d-none {
    display: none !important;
}

.btn-success {
    --bs-btn-color: #4E4E4D;
    --bs-btn-bg: #09c898;
    --bs-btn-border-color: #09c898;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #19c69b;
    --bs-btn-hover-border-color: #17ba92;
    --bs-btn-focus-shadow-rgb: 63, 236, 193;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #17ba92;
    --bs-btn-active-border-color: #16af89;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #09c898;
    --bs-btn-disabled-border-color: #09c898;
}

[data-pc-direction=rtl] .bg-success {
    background-color: #09c898 !important;
}

.form-control  {
    padding: 1.25rem 0.75rem !important;
}


input[type="text"]:focus,
.attachment-row input[type="file"]:focus {
    border-color: #C29129;
}

.logo_div img {
    max-width: 111px;
    margin: auto;
    margin: auto;
    display: block;
}

.logo_div {
    width: 100%;
}

label::after {
    color: white !important;
    /* background-color: #010c190f !important; */
}

.btn-primary {
    background-color: #57554a !important;
    color: white !important;
    border: 0px;
}

.btn-primary:hover {
    background-color: #b9981680 !important;
    color: white !important;
    border: 0px;
}

.btn-light {
    background-color: #FFFFFF !important;
    color: #000 !important;
    border: 1px solid #FFFFFF;
    font-weight: bold;
}

.btn-light:hover {
    background-color: #b9981680 !important;
    color: white !important;
    border: 1px solid #FFFFFF;
}

.swal2-popup {
    background-color: #ffff !important;
    border: 1px solid #57554a;
}

[data-pc-direction=rtl] .text-end {
    text-align: right !important;
}

[data-pc-direction="rtl"] .bg-primary {
    --bs-bg-opacity: 1;
    background-color: #fdf8ee !important;
}

.select2-container .select2-selection--multiple {
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 3px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    direction: rtl !important;
    padding-right: 11px !important;
    font-weight: bold;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e7d9a2 !important;
    border: 1px solid #e7d9a2 !important;
    color: #000000 !important;
    font-size: 13px;
    padding: 5px 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}

.btn-download {
    color: #1619b9 !important;
}


.filepond--wrapper {
    margin-bottom: 20px;
}

.dropify-wrapper {
    border-radius: 10px;
    border: 2px dashed #007bff;
    transition: border-color 0.3s ease-in-out;
}

.dropify-wrapper:hover {
    border-color: #0056b3;
}

/* Flexbox layout for file inputs */
.attachment-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.attachment-row input[type="text"],
.attachment-row input[type="file"] {
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
}

.attachment-row input[type="text"]:focus,
.attachment-row input[type="file"]:focus {
    border-color: #C29129;
}

#add-attachment {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #C29129;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 123, 255, 0.2);
}

#add-attachment:hover {
    background-color: #C29129;
    transform: scale(1.05);
}

#add-attachment:active {
    transform: scale(1);
}

form .row {
    margin: 10px 0;
}

.form-select,
.datatable-selector {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231D2630' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    padding: .5rem .75rem .5rem 2rem;
    text-align: right;
    background-position: left 0.75rem center;
}

.datatable-table>tbody>tr>td,
.datatable-table>tbody>tr>th,
.datatable-table>tfoot>tr>td,
.datatable-table>tfoot>tr>th,
.datatable-table>thead>tr>td,
.datatable-table>thead>tr>th {
    vertical-align: middle !important;
}

.datatable-empty {
    text-align: center !important;
}

input[type="date"],
input[type="datetime-local"] {
    direction: rtl;
    text-align: right;
}

.btn-danger {
    color: white !important;
}

.btn-link-danger:hover,
.btn-link-danger:focus {
    border: 0px;
}

.btn-link-success:hover {
    background: #fff5d6;
    color: #f4c22b;
    border-color: #fff5d6;
}

.swal2-modal h2 {
    font-size: 22px;
}

.card-header {
    padding: 15px 25px;
}

.auth-main.v2 .auth-form .card {
    border: none;
    box-shadow: none;
    min-height: calc(100vh - 400px) !important;
}

#advancedSearchForm .ti {
    color: white !important;
}

.color-white {
    color: white !important;
}

.text_primary {
    color: #4E4E4D !important;
    font-weight: bold;
}

.custom-switch .form-check-input {
    width: 2.5rem;
    height: 1.3rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.custom-switch .form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

.custom-switch .form-check-label {
    font-size: 14px;
    font-weight: bold;
}

/* Improve alignment for buttons */
.d-flex.gap-2 {
    gap: 5px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #0d6efd;
    /* Bootstrap primary color */
    border-color: #0d6efd;
}

.form-check-input:hover {
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

/* Align selected items to the right */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    text-align: right !important;
    direction: rtl !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: start !important;
}

.pc-sidebar .m-header {
    height: 117px;
}

.img-thumbnail {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


/* Toggle switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #28a745;
    /* Green when active */
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Custom styles for Select2 */
.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 12px;
    padding-left: 2rem;
    /* Add padding to the left to make space for the arrow */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    line-height: 24px;
    direction: rtl;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    left: 10px;
    /* Move the arrow to the left */
    right: auto;
    /* Reset the right property */
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #6c757d;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #007bff;
    color: white;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #007bff;
    color: white;
}

.select2-results__option {
    direction: rtl !important;
}

.playersContainer .form-check {
    padding: 0px 20px 34px 10px;
}

.playersContainer .form-check input {
    padding: 10px;
    border-radius: 5px;
}

.playersContainer .form-check label {
    margin-right: 10px;
}

/* Custom styles for DataTables pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #FFFFFF;
    color: #000000 !important;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #FFFFFF;
    color: #000000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #FFFFFF;
    color: #000000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: #e9ecef;
    color: #6c757d !important;
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.page-link {
    color: #727271;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    margin-left: -50px;
    /* Adjust this value to center the indicator horizontally */
    margin-top: -25px;
    /* Adjust this value to center the indicator vertically */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 10000;
    text-align: center;
}

.dataTables_length,
.dataTables_filter {
    display: none;
}
